<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ReadingList</title>
    <link href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.6.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script src="/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<!--导航栏组件-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" th:href="@{http://localhost:3000/home/{reader}(reader=${reader})}">Book Manage
            System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <!--导航栏模块-->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                       th:href="@{http://localhost:3000/home/{reader}(reader=${reader})}">Home</a>
                </li>
                <li class="nav-item">
                    <div>
                        <a class="nav-link active"
                           th:href="@{http://localhost:3000/readingList/{reader}(reader=${reader})}">BookList</a>
                    </div>
                </li>
            </ul>

            <!--登录状态-->
            <div style="font-size: 20px">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{#}" th:text="'User: ' + ${reader}">name</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!--样式风格调整-->
<div style="margin-bottom: 20px"></div>

<!--搜索框-->
<div class="container mx-auto">
    <div class="mx-auto" style="width: 80%">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<!--卡片组件(总)-->
<div class="container mx-auto" style="margin-top: 20px">

    <!--书单组件-->
    <!--将书单的内容放置在这里-->

    <div class="card" style="margin: 30px;">
        <div class="card-header">
            <div th:if="${listType eq true}">ReadingList</div>
            <div th:unless="${listType eq true}">SearchList</div>
        </div>
        <div class="card-body">
            <div th:unless="${#lists.isEmpty(booklist)}">
                <div class="list-group">
                    <div th:each="book:${booklist}">
                        <div style="margin: 15px;">
                            <a th:href="@{http://localhost:3000/updateBook/{reader}/{title}/{author}(reader=${reader},title=${book.title},author=${book.author})}"
                               class="list-group-item list-group-item-action"
                               style="background-color: #e3f2fd;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" th:text="'Title: ' + ${book.title}">head</h5>
                                    <small th:text="'Author: ' + ${book.author}">3 days ago</small>
                                    <div th:unless="${listType eq true}">
                                        <small th:text="'Reader: ' + ${book.reader}">3 days ago</small>
                                    </div>
                                </div>
                                <p class="mb-1" th:text="'Description: ' + ${book.description}">Some placeholder content
                                    in a
                                    paragraph.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(booklist)}">
                <p>There is not a single book in your reading list.</p>
            </div>
        </div>
    </div>

    <div class="text-center" style="margin: 5px">
        <!--添加书籍的按钮-->
        <button type="button" class="btn btn-primary btn-lg" style="margin: 15px">
            <a th:href="@{http://localhost:3000/addBook/{reader}(reader=${reader})}" alt="Add Book" class="text-white"
               style="text-decoration: none;">Add Book</a>
        </button>
        <!--删除书籍的按钮-->
        <button type="button" class="btn btn-secondary btn-lg" style="margin: 15px">
            <a th:href="@{http://localhost:3000/deleteBook/{reader}(reader=${reader})}" alt="Delete Book"
               class="text-white" style="text-decoration: none;">Delete Book</a>
        </button>
    </div>

</div>

<!--样式风格调整-->
<div style="margin-bottom: 20px"></div>

<!--页脚-->
<footer class="footer mt-auto py-3"
        style="background-color: #e3f2fd; position:fixed; bottom:0; width: 100%; clear: both; margin-top: 15px;">
    <div class="container text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-snow"
             viewBox="0 0 16 16">
            <path d="M8 16a.5.5 0 0 1-.5-.5v-1.293l-.646.647a.5.5 0 0 1-.707-.708L7.5 12.793V8.866l-3.4 1.963-.496 1.85a.5.5 0 1 1-.966-.26l.237-.882-1.12.646a.5.5 0 0 1-.5-.866l1.12-.646-.884-.237a.5.5 0 1 1 .26-.966l1.848.495L7 8 3.6 6.037l-1.85.495a.5.5 0 0 1-.258-.966l.883-.237-1.12-.646a.5.5 0 1 1 .5-.866l1.12.646-.237-.883a.5.5 0 1 1 .966-.258l.495 1.849L7.5 7.134V3.207L6.147 1.854a.5.5 0 1 1 .707-.708l.646.647V.5a.5.5 0 1 1 1 0v1.293l.647-.647a.5.5 0 1 1 .707.708L8.5 3.207v3.927l3.4-1.963.496-1.85a.5.5 0 1 1 .966.26l-.236.882 1.12-.646a.5.5 0 0 1 .5.866l-1.12.646.883.237a.5.5 0 1 1-.26.966l-1.848-.495L9 8l3.4 1.963 1.849-.495a.5.5 0 0 1 .259.966l-.883.237 1.12.646a.5.5 0 0 1-.5.866l-1.12-.646.236.883a.5.5 0 1 1-.966.258l-.495-1.849-3.4-1.963v3.927l1.353 1.353a.5.5 0 0 1-.707.708l-.647-.647V15.5a.5.5 0 0 1-.5.5z"/>
        </svg>
        <span class="text-muted" style="margin: 10px">
            <a class="link-secondary" th:href="@{https://www.luogu.com.cn/blog/lin-zexun/}">Author: WA_automat</a>
        </span>
        <span class="text-muted" style="margin: 10px">
            <a class="link-secondary"
               th:href="@{https://github.com/WA-automat}">Github: https://github.com/WA-automat</a>
        </span>
        <span class="text-muted" style="margin: 10px">
            <a class="link-secondary"
               th:href="@{http://localhost:3000/swagger-ui.html#/}">BMS's API</a>
        </span>
    </div>
</footer>

</body>
</html>